//@theme "/home/vengenzr/.config/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/home/vengenzr/.config/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/nord.rasi"
@theme "/usr/share/rofi/themes/arthur.rasi"
